<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>发布中心</title>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta name="renderer" content="webkit">
    <meta name="baidu-site-verification" content="R9XA5lWxu2" />
    <meta name="author" content="虎嗅网">
    <meta name="keywords" content="科技资讯,商业评论,明星公司,动态,宏观,趋势,创业,精选,有料,干货,有用,细节,内幕">
    <meta name="description" content="聚合优质的创新信息与人群，捕获精选|深度|犀利的商业科技资讯。在虎嗅，不错过互联网的每个重要时刻。">
    <link rel="stylesheet" type="text/css" href="css/bootstrap.min.css" th:href="@{/css/bootstrap.min.css}">
    <link rel="stylesheet" type="text/css" href="css/build.css" th:href="@{/css/build.css}">
    <link href="css/login.css" th:href="@{/css/login.css}" rel="stylesheet" type="text/css"/>
    <link href="css/zzsc.css" th:href="@{/css/zzsc.css}" rel="stylesheet" type="text/css"/>
    <link href="css/dlzc.css" th:href="@{/css/dlzc.css}" rel="stylesheet" type="text/css"/>
    <script language="javascript" type="text/javascript" src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
    <script language="javascript" type="text/javascript" src="js/main.js" th:src="@{/js/main.js}"></script>
    <script language="javascript" type="text/javascript" src="js/popwin.js" th:src="@{/js/popwin.js}"></script>
    <script language="JavaScript" type="text/javascript" src="js/bootstrap.js" th:src="@{/js/bootstrap.js}"></script>
    <script language="JavaScript" type="text/javascript" src="js/jquery.js" th:src="@{/js/jquery.js}"></script>


    <!--复选框-->
</head>


<body>
<header id="top" role="banner" class="transition">
    <!--搜索弹窗 开始-->
    <div class="box">
        <div class="box2">
            <div class="icon icon-search-close js-show-search-box"><a class="close"></a></div>
            <div class="search-content overlay-dialog-animate">
                <div class="search-input">
                    <form role="search" method="get" action="/tieziDetail" onsubmit="return checkinput()">
                        <button type="submit"></button>
                        <input placeholder="请输入关键字" name="s" id="search-input">
                    </form>
                </div>
                <div class="search-history hide" id="history">
                    <span>我的搜索历史</span>
                    <ul class="transition" id="history_ul">
                        <li class="transition"><a href="#">数码</a></li>
                        <li class="transition"><a href="#">科技</a></li>
                        <li class="transition"><a href="#">科技</a></li>
                        <li class="transition"><a href="#">互联网</a></li>
                        <li class="transition"><a href="#">汽车之家</a></li>
                    </ul>
                    <div class="pull-right empty-history js-empty-history">清空历史</div>
                </div>
                <div class="search-history search-hot">
                    <strong>热搜词</strong>
                    <div class="dh-seach">
                        <a href="#">数码</a>
                        <a href="#">科技</a>
                        <a href="#">互联网</a>
                        <a href="#">汽车之家</a>
                        <a href="#">Uber</a>
                        <a href="#">支付宝</a>
                        <a href="#">大数据</a>
                        <a href="#">创业</a>
                        <a href="#">旅游</a>
                        <a href="#">美团</a>
                        <a href="#">社交</a>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--搜索弹窗 结束-->
    <script>
        function checkinput(){
            var input = $("#search-input").val();
            if(input ==  null || input == ''){
                return false;
            }
            return true;
        }
    </script>

    <script type="text/javascript">
        window.onload = function () {
            //  创建测试session，获取session值。
            var name1 = sessionStorage.getItem("name");
            if(name1!=null){
                // alert(name1);
                //把登陆注册的div隐藏
                document.getElementById("login").style.display='none';
                //显示用户
                document.getElementById("details").style.display='block';
                document.getElementById("name").innerText=name1;
            }
        }
    </script>

    <div class="container">
        <div class="navbar-header transition">
            <a href="#" title="首页"><img src="images/logo.jpg" alt="虎嗅网" title="首页" /></a>
        </div>
        <ul class="nav navbar-nav navbar-left" id="jsddm">
            <li class="nav-news js-show-menu">
                <a href="#">热门分类 <span class="caret"></span></a>
                <ul>
                    <li><a href="#" target="_blank">电商消费</a></li>
                    <li><a href="#" target="_blank">娱乐淘金</a></li>
                    <li><a href="#" target="_blank">雪花一代</a></li>
                    <li><a href="#" target="_blank">人工智能</a></li>
                    <li><a href="#" target="_blank">车与出行</a></li>
                    <li><a href="#" target="_blank">智能终端</a></li>
                    <li><a href="#" target="_blank">医疗健康</a></li>
                    <li><a href="#" target="_blank">金融地产</a></li>
                    <li><a href="#" target="_blank">企业服务</a></li>
                    <li><a href="#" target="_blank">创业维艰</a></li>
                    <li><a href="#" target="_blank">社交通讯</a></li>
                    <li><a href="#" target="_blank">全球热点</a></li>
                    <li><a href="#" target="_blank">生活腔调</a></li>
                </ul>
            </li>
            <style>
                #jsddm ul{position: absolute; visibility: hidden; background:#fff; width:250px;  top:60px; left:-50px; z-index:9999; box-shadow:0 1px 15px rgba(18,21,21,.2);padding:10px 5px;}
                #jsddm ul li{ float:left; width:105px; padding-left:20px; line-height:40px;}
            </style>
            <li class="nav-news"><a href="/index" target="_blank">话题广场<span class="nums-prompt nums-prompt-topic"></span></a></li>
            <li class="nav-news"><a href="/xqgc" target="_blank">需求广场</a></li>
            <li class="nav-news"><a href="/hdgc" target="_blank">互动广场<span class="nums-prompt"></span></a></li>
            <li class="nav-news"><a href="/jht" target="_blank">精华帖<em class="nums-prompt"></em></a></li>
        </ul>
        <!--注意这里改成div id改成  login-->
        <div id="login"> <ul class="nav navbar-nav navbar-right transition  xiala main_nav">
            <li class="app-guide js-app-guide" >
                <div class="app-guide-box">
                    <img src="images/weixin.jpg">
                    <div class="app-guide-title">
                        <span>微信扫一扫</span><br>
                        <span>我们聊一聊</span>
                    </div>
                </div>
                <i class="icon icon-sm-phone"></i>加我微信<em class="guide-prompt"></em>
            </li>
            <li class="search-li js-show-search-box"><a><i class="icon icon-search "></i></a><span>搜索</span></li>

            <li class="login-link-box"><a href="/userlogin" class="cd-signin">登录</a></li>
            <li ><a class="cd-signup" href="/userlogin">注册</a></li>
            <li><a href="/wtiezi" class="cd-tougao">发布帖子</a></li>
        </ul>
        </div>
        <div id="details" style="display: none">
            <ul class="nav navbar-nav navbar-right transition  xiala main_nav">
                <li class="app-guide js-app-guide" >
                    <div class="app-guide-box">
                        <img src="images/weixin.jpg">
                        <div class="app-guide-title">
                            <span>微信扫一扫</span><br>
                            <span>我们聊一聊</span>
                        </div>
                    </div>
                    <i class="icon icon-sm-phone"></i>加我微信<em class="guide-prompt"></em>
                </li>
                <li class="search-li js-show-search-box"><a><i class="icon icon-search "></i></a><span>搜索</span></li>

                <!--把href里添加传递的session-->
                <li>  <a  id="name" href="/member"></a></li>
                <li> <a class="btn" href="/userlogin">注销</a></li>
                <li><a href="/wtiezi" class="cd-tougao">发布帖子</a></li>
            </ul>
        </div>
    </div>
    <div class="cd-user-modal">
        <div class="cd-user-modal-container">

            <a href="#0" class="cd-close-form ">关闭</a>
        </div>
    </div>

    <script src="js/d-login.js" th:src="@{/js/d-login.js}"></script>

</header>
<div class="placeholder-height"></div>
<div class="container">
    <div class="row">
        <div class="span12">
            <div class="tabbable" id="tabs-597280">
                <ul class="nav nav-tabs">
                    <li class="active" id="l1" >
                        <a href="#myTabs2_Content0" data-toggle="tab">修改帖子</a>
                    </li>
                    <li id="l2">
                        <a href="#myTabs2_Content1" data-toggle="tab">修改需求</a>
                    </li>

                    <li id="l3">
                        <a href="#myTabs2_Content2" data-toggle="tab">修改话题</a>
                    </li>
                </ul>
                <div class="tab-content">

                    <div id="div1" style="display: block">
                        <form th:action="@{/post/update}" method="post">
                            <input  type="hidden" name="_method" value="put" />
                            <!--这里希望先把数据库的值传过来到文本框里，直接在文本框里修改更新-->
                            <article>
                                <div class="span12">
                                    <div class="span2"></div>
                                    <div class="span4" style="text-align: center">
                                        标题： <input class="search-input" style="width: 400px;" th:value="${postInfo!=null}?${postInfo.title}" type="text" name="title" placeholder="title..." required>
                                    </div>
                                </div>
                                <div class="span12" style="text-align: center">
                                    <textarea class="article-content-wrap" name="articleContent" id="tiezi" th:text="${postInfo!=null}?${postInfo.articleContent}" rows="20" cols="70" placeholder="编写帖子...<!--这里希望先把数据库的值传过来到文本框里，直接在文本框里修改更新-->" required></textarea>
                                </div>
                                <br>
                                <div class="col-md-12" style="text-align: center">
                                    <div class="col-md-12">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"> <p3>选择分类</p3>
                                            <ul style="width: 1000px" class="line-layout" >
                                                <li style="padding:5px; margin: 4px; float:left; list-style:none;background: lightblue;width: 70px"><input type="checkbox" name="checkbox"  value="qczj">汽车之家</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightpink;width: 70px"><input type="checkbox" name="checkbox" value="ylxw">娱乐新闻</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightyellow;width: 70px"><input type="checkbox" name="checkbox" value="rcsh">日常生活</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightcoral;width: 70px"><input type="checkbox" name="checkbox"  value="xljk">心理健康</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightgreen;width: 70px"><input type="checkbox" name="checkbox" value="kjdr">科技达人</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-4">
                                        <input class="btn-success btn-lg"  type="submit" name="fbtz" value="修改帖子">
                                    </div>
                                </div>
                            </article>
                        </form>
                    </div>

                    <div  id="div2" style="display: none">
                        <form action>
                            <article>
                                <div class="span12">
                                    <div class="span2"></div>
                                    <div class="span4" style="text-align: center">
                                        标题： <input class="search-input" style="width: 400px;" type="text" name="title" placeholder="title..." required>
                                    </div>
                                </div>
                                <div class="span12" style="text-align: center">
                                    <textarea class="article-content-wrap" name="xuqiu" id="xuqiu" rows="20" cols="70" placeholder="编写需求...<!--这里希望先把数据库的值传过来到文本框里，直接在文本框里修改更新-->" required></textarea>
                                </div>
                                <br>
                                <div class="col-md-12" style="text-align: center">
                                    <div class="col-md-12">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"> <p3>选择分类</p3>
                                            <ul style="width: 1000px" class="line-layout" >
                                                <li style="padding:5px; margin: 4px; float:left; list-style:none;background: lightblue;width: 70px"><input type="checkbox" name="checkbox"  value="qczj">汽车之家</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightpink;width: 70px"><input type="checkbox" name="checkbox" value="ylxw">娱乐新闻</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightyellow;width: 70px"><input type="checkbox" name="checkbox" value="rcsh">日常生活</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightcoral;width: 70px"><input type="checkbox" name="checkbox"  value="xljk">心理健康</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightgreen;width: 70px"><input type="checkbox" name="checkbox" value="kjdr">科技达人</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-4">
                                        <input class="btn-success btn-lg"  type="submit" name="fbtz" value="修改帖子">
                                    </div>
                                </div>
                            </article>
                        </form>
                    </div>

                    <div  id="div3" style="display: none">
                        <form action>
                            <article>
                                <div class="span12">
                                    <div class="span2"></div>
                                    <div class="span4" style="text-align: center">
                                        标题： <input class="search-input" style="width: 400px;" type="text" name="title" placeholder="title..." required>
                                    </div>
                                </div>
                                <div class="span12" style="text-align: center">
                                    <textarea class="article-content-wrap" name="huati" id="huati" rows="20" cols="70" placeholder="互动话题...<!--这里希望先把数据库的值传过来到文本框里，直接在文本框里修改更新-->" required></textarea>
                                </div>
                                <br>
                                <div class="col-md-12" style="text-align: center">
                                    <div class="col-md-12">
                                        <div class="col-md-4"></div>
                                        <div class="col-md-4"> <p3>选择分类</p3>
                                            <ul style="width: 1000px" class="line-layout" >
                                                <li style="padding:5px; margin: 4px; float:left; list-style:none;background: lightblue;width: 70px"><input type="checkbox" name="checkbox"  value="qczj">汽车之家</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightpink;width: 70px"><input type="checkbox" name="checkbox" value="ylxw">娱乐新闻</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightyellow;width: 70px"><input type="checkbox" name="checkbox" value="rcsh">日常生活</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightcoral;width: 70px"><input type="checkbox" name="checkbox"  value="xljk">心理健康</li>
                                                <li style="padding:5px;margin: 4px;float:left; list-style:none;background: lightgreen;width: 70px"><input type="checkbox" name="checkbox" value="kjdr">科技达人</li>
                                            </ul>
                                        </div>
                                    </div>
                                    <div class="col-md-4"> </div>
                                    <div class="col-md-4">
                                        <input class="btn-success btn-lg"  type="submit" name="fbtz" value="修改帖子">
                                    </div>
                                </div>
                            </article>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function(){
        $("#l3").click(function(){
            $("#div1").hide();
            $("#div2").hide();
            $("#div3").show();
        });
        $("#l2").click(function(){
            $("#div1").hide();
            $("#div2").show();
            $("#div3").hide();

        });
        $("#l1").click(function(){
            $("#div1").show();
            $("#div2").hide();
            $("#div3").hide();
        });
    });
</script>

<script type="text/javascript" src="js/bootstrap.js" ></script>
<footer class="footer">
    <div class="modal-backdrop fade in js-modal-backdrop"></div>
    <div class="container copy-right">
        <div class="footer-tag-list">
            <a href="#" target="_blank" class="transition">关于我们</a>
            <a href="#" target="_blank" class="transition">加入我们</a>
            <a href="#" target="_blank" class="transition">合作伙伴</a>
            <a href="#" target="_blank" class="transition">广告及服务</a>
            <a href="#" target="_blank" class="transition">常见问题解答</a>
            <a href="#" target="_blank" class="transition">防网络诈骗专题</a>
        </div>
        <span>Copyright © <a href="#">BBS论坛</a> <a href="#" target="_blank">京ICP备12013432号-1</a>
            &nbsp;<a href="#" target="_blank"><i class="i-wj"></i>京公网安备 11010102001402号</a>&nbsp;&nbsp;&nbsp;<em class="bull-right">本站由</em><i class="icon-aliyun" style="width: 70px;background-size: 100%;left: 7px;"></i><em class="bull-em">提供计算与安全服务</em>
        </span>
        <div class="footer-icon-list pull-right">
            <ul class="Qr-codee">
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="/images/weixin_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-wx"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="/images/app_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-ios"></i>
                </li>
                </a>
                <a><li class="Qr-code-footer">
                    <div class="app-qrcode"><img src="/images/app_erweima.png"></div>
                    <i class="icon icon-footer icon-footer-android"></i>
                </li>
                </a>
                <a href="#" target="_blank" title="英文版">
                    <li><i class="icon icon-footer icon-footer-inter"></i></li>
                </a>
                <a href="#" target="_blank" title="RSS订阅中心">
                    <li><i class="icon icon-footer icon-footer-rss"></i></li>
                </a>
            </ul>
        </div>
    </div>
    <div id="moquu_wxin" class="moquu_wxin"><a href="javascript:void(0)"><div class="moquu_wxinh"></div></a></div>
    <div id="moquu_wshare" class="moquu_wshare"><a href="javascript:void(0)"><div class="moquu_wshareh"></div></a></div>
</footer>
<script language="javascript" type="text/javascript" src="js/jquery-1.11.1.min.js" th:src="@{/js/jquery-1.11.1.min.js}"></script>
<script>
    $(document).ready(function() {
        $(".dp-article-box").fadeOut(0);
        $(".js-add-dp-box").click(function() {
            $(".dp-article-box").not($(this).next()).slideUp('fast');
            $(this).next().slideToggle(400);
        });
    });
</script>
<script>


    $(function(){
        $(':checkbox[type="checkbox"]').each(function(){
            $(this).click(function(){
                if($(this).attr('checked')){
                    $(':checkbox[type="checkbox"]').removeAttr('checked');
                    $(this).attr('checked','checked');
                    // alert(this.id);
                }
            });
        });
    });


</script>
<script src="js/jquery-1.8.3.min.js" th:src="@{/js/jquery-1.8.3.min.js}"></script>
<div style="text-align:center;clear:both;">
    <script src="/gg_bd_ad_720x90.js" type="text/javascript"></script>
    <script src="/follow.js" type="text/javascript"></script>
</div>
<script type="text/javascript" src="js/mouse.js" th:src="@{/js/mouse.js}"></script>
</body>
</html>